
.left-sidebar {
float:left;
height:95%;
padding:10px;
width:230px;
margin-right:15px;
border:thin solid #ccc;
position:fixed;
}

#panel {
margin-top:30px
}

#panel i {
color:#0867a8;
font-size:30px
}

#panel li {
margin-bottom:20px
}

#panel a {
font-size:1.2em;
color:#444
}

#content {
margin-left : 250px;
padding:10px;
padding-left:35px;
padding-top:20px;
margin-bottom:2px; 
min-height: 554px;
}

#content header > span {
color:#0867a8;
font-size:3em;
font-weight:100
margin-bottom :10px;
}

header .sidebar-head {
font-size:1.4em
}

.form {
margin-top:15px
}

:-moz-placeholder {
    color:#ccc;
}
::-webkit-input-placeholder {
    color: #ccc;
}

*:focus {outline: none;}

.form_hint, .required_notification {font-size: 11px;}

.head {
    margin-bottom : 5px;
}

.add ul , .sadd ul , #custom-ul{
    width:850px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

#custom-ul {
  width : 900px;
}
.add li , .sadd li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.add li:first-child, .add li:last-child ,.sadd li:first-child, .sadd li:last-child {
    border-bottom:1px solid #777;
}

.sadd li {
  border : none;
}

.required_notification {
    color:#d45252;
    margin:-15px 0 0 0;
    display:inline;
    float:right;
}

.add label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.add input {
    height:20px;
    width:180px;
    padding:5px 8px;
    
}
.add textarea {padding:8px; width:300px;}

.add button {margin-left:160px;}

.add input, .add textarea {
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff url('../img/layout/red_asterisk.png') no-repeat 98% center;
}


button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

.input-control {
    width : 100px;
}

.custom-input {

    border: 1px #bababa solid;
  padding: 4px 6px 6px 5px;
  background-color: #fff;
  outline: 0;
  min-height: 32px;
  position: relative;
  margin-right : 10px;
}

.custom-input:disabled {
    background-color: #eaeaea;
}
.custom-input:focus{
    border-color: #000;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}

.invalid { /* when a field is considered invalid by the browser */
    background: #fff url('../img/layout/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.valid { /* when a field is considered valid by the browser */
    background: #fff url('../img/layout/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}
.add input:focus + .form_hint {display: inline;}
.add input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.add input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */

.name {
    width : 100px;
}

 select{
  
   background: transparent;
   width: 60px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   border: 1px solid #ccc;
   background: url('../img/layout/9662.png') no-repeat right #fff;
   background-size: 25px 25px;
}

.row {
    margin-left :160px;
}

.company {
  width : 200px;
}

.error {

padding : 15px;
margin-bottom : 10px;


}
