@charset "UTF-8";


#main {
width:500px;
height:360px;
margin:200px 0 0 400px;

}

#main > heading {
text-align:center;
/*margin-bottom:80px;*/
}

#main > div {
/*margin-top:60px*/
}

.bg-color-customBlue {
background-color:#2ed9f4!important;
color:#fff;
}

.white-text {
color:#fff!important;
}

.buttons {
margin-top:0;
margin-left:150px;
}



#beta {
font-size:.6em;
color:#2ed9f4;
}

footer {

background-size:100% 130px;
width:100%;
overflow:hidden;
padding:10px;
margin-top:10px;
font-family:tahoma;
font-size:.8em;
color:#555;
text-align:center;
border-top:dotted thin #ccc;
clear:both;
}


#add-client{
position: absolute;
top : 30px;
right: 200px;


}

#add-client b{
color:#0867a8;
font-size:30px;

}

#add-text {
	
	margin-top : -26px;
	margin-left : 35px;

}

#table-wrapper {
	padding : 25px;
}





table.customt a:link {
	color: #666;
	
	text-decoration:none;
}
table.customt a:visited {
	color: #999999;
	
	text-decoration:none;
}
/*table.customt a:active,
table.customt a:hover {
	color: #bd5a35;
	text-decoration:underline;
}*/


table.customt {
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:12px;
	/*text-shadow: 1px 1px 0px #fff;*/
	background:#eaebec;
	margin:15px;
	margin-left : 5px;
	border:#ccc 1px solid;
/*
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	*/
}


table.customt th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);*/

}
table.customt th:first-child {
	text-align: left;
	padding-left:20px;
}
table.customt tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.customt tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.customt tr {
	text-align: center;
	padding-left:20px;
}
table.customt td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.customt td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fff;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
}
table.customt tr:nth-child(even) td {
	background: #e6f2f7;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);*/
}
table.customt tr:last-child td {
	border-bottom:0;
}
table.customt tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.customt tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.customt tr:hover td {
	/*background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	*/
	background: #e8fddd;
}

#search{
	margin-top : 60px;
	margin-bottom : -20px;
	margin-right : auto;
	margin-left : auto;
	width : 350px;
}


#pagination {

width : 200px;
margin-left:auto;
margin-right: auto;

}